#

#修改配置的方法,与mp4的配置方法一致,可以不用按固定的顺序写配置
#    参数形式为       t:time
#   1) 类型 t:               time-按时间拖动(默认)  size-按字节拖动
#     拖动参数精度配置
#        1] 时间拖动 t:time:ms 参数以毫秒为单位  t:time:s 参数以秒为单位(默认)
#        2] 字节拖动 t:size:kb 参数以kb为单位    t:size:b 参数以byte为单位(默认)
#   3) start参数 s:          默认为start
#   4) end参数 e:            默认为end
# ex: 以下是一条配置实例
#  --> map http://172.16.19.144 http://192.168.10.139 @plugin=/path/flv.so @pparam=t:time @pparam=m:1 @pparam=s:start_pos @pparam=e:end_pos 
# change by dnion

map http://192.168.168.128:80 http://192.168.168.129:80 @plugin=/usr/lib64/trafficserver/plugins/libtsflv.so @pparam=t:size @pparam=s:start_pos @pparam=e:end_pos
reverse_map http://192.168.168.128:80 http://192.168.168.129:80
